@font-face {
  font-family: "LifeCraft";
  src: url("./fonts/LifeCraft_Font.ttf");
}

h1 {
  font-family: "LifeCraft";
  font-size: 50px;
  margin: 0 auto;
  width: 200px;
  text-align: center;
}

p {
  margin: 0 auto;
  width: 500px;
  text-align: center;
}

.registerBox {
  width: 300px;
  margin: 0 auto;
  border: 1px solid red;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 10px;
  text-align: center;
  margin-top: 30px;
}

input {
  width: 200px;
}

button {
  width: 90px;
  margin: 0 auto;
  grid-area: 4 / 1 / 5 / 3;
}